@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;600&display=swap');
body {
  margin: 0;
}
* {
font-family: 'Poppins', sans-serif;
}
.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
  box-sizing: border-box;
}